/MyName/nbproject/private/
/Simple Interest/nbproject/private/
/Simple Interest/build/
/SimpleInterest/nbproject/private/
/SimpleInterest/build/
/Area/nbproject/private/
/Area/build/
/try/nbproject/private/
/try/build/